$width-site:1200px;
$gap:32px;
$color-text:#ffffff;
$secondary-color:rgb(255, 255, 255);
$color:rgb(0, 0, 0);
$background:rgb(247, 246, 246);
$color-underline:rgb(202, 205, 216);
$color-price: rgb(136, 136, 136);
$BaceFontSize:24px;
$borderRadius:20px;
$background-color:transparent;
$primary-color:rgb(196,196,196);